*.zip
*.jar
*.swp
*.lck
*.png
.DS_Store
0config
0mods
0plugins
plugins/contrib
Flan
*.log
*.log.*
banned-ips.txt
banned-players.txt
crash-reports
help.yml
ops.txt
remapped-mod-classes
remapped-plugin-classes
stage
wepif.yml
white-list.txt
world
world_nether
world_the_end
world_twilightforest
lib
saves
servers.dat
teams.dat
texturepacks
resources
stats
bin
config/PluginMetrics.cfg
