# Configuration file

####################
# general
####################

general {
    B:Tabs.Information=true
    B:Tabs.Tutorial=true
}


####################
# tweak
####################

tweak {
    # CapeRegular allows all players to access /cofh cape set, CapeOp allows ops to use the command.
    B:CapeOp=true
    B:CapeRegular=true

    # SkinRegular allows all players to access /cofh skin set, SkinOp allows ops to use the command.
    B:SkinOp=true
    B:SkinRegular=true
}



# TODO: change item ID 20001 -> 4758
# TODO: change item ID 20004 -> 20006
# TODO: change item ID 20005 -> 20001
# TODO: change item ID 20002 -> 20007
######################################################################
# TODO: Merge from CoFHCore-1.5.1.b7.jar
######################################################################
# Configuration file

####################
# general
####################

general {
    B:Tabs.Information=true
    B:Tabs.Tutorial=true
}


####################
# tweak
####################

tweak {
    # CapeRegular allows all players to access /cofh cape set, CapeOp allows ops to use the command.
    B:CapeOp=true
    B:CapeRegular=true

    # SkinRegular allows all players to access /cofh skin set, SkinOp allows ops to use the command.
    B:SkinOp=true
    B:SkinRegular=true
}


