# Configuration file

####################
# block
####################

block {
    I:"Chaos Door"=1978
    I:"Dimensional Door"=1970
    I:"Dimensional Door Link"=1972
    I:"Fabric of Reality"=1973
    I:Rift=1977
    I:"Transdimensional Trapdoor"=1971
    I:"Warp Door"=1975
    I:"Warp Door Link"=1976
    I:transientDoorID=1979
}


####################
# boolean
####################

boolean {
    B:"EXPLOSIONS!!???!!!?!?!!"=false
    B:"Should rifts generate natrually in the world? "=true
    B:"Toggles limbo"=true
    B:"Toggles the door render effect"=true
    B:"toggles whether rifts eat blocks around them or not"=true
    B:"true to cause player to respawn in Limbo"=false
    B:"true to enable iron dim door crafting"=true
    B:"true to enable rift blade crafting"=true
    B:"true to enable rift remover crafting"=true
    B:"true to enable rift signature crafting"=true
    B:"true to enable trap door crafting"=true
    B:"true to enable unstable door crafting"=true
    B:"true to enable wooden door crafting"=true
}


####################
# int
####################

int {
    I:"Block ID for Limbo- must be below 256"=159
    I:"Block ID for blockDimWallPermID- must be below 256"=167
    I:"Chance that a block will not be TNT. must be greater than 1. Explosions!?!?? must be set to true, and you figure out what it does. "=25
    I:"How many times a rift can spread- 0 prevents rifts from spreading at all. I dont recommend putting it highter than 5, because its rather exponential. "=3
    I:"Limbo Dimension ID"=-23
    I:"Limbo Provider ID"=13
    I:ProviderID=12
    I:"The farthest possible distance that limbo can send you upon return to the overworld."=100000
}


####################
# item
####################

item {
    I:"Chaos Door"=5673
    I:"Dimensional Door Item"=5674
    I:"Rift Blade"=5676
    I:"Rift Remover"=5671
    I:"Rift Signature Item"=5675
    I:"Stable Fabric"=5672
    I:"Warp Door Item"=4788
}


