# Configuration file

####################
# block
####################

block {
    I:BUDBlockId=2401
    I:angelBlock=2400
    I:chandelierId=2402
    I:cobblestoneComprId=2406
    I:colorBlockBrickId=2404
    I:colorBlockDataId=2405
    I:coloredWoodId=2519
    I:conveyorId=2407
    I:cursedEarth=2515
    I:curtainId=2514
    I:etherealBlockId=2518
    I:greenScreen=2408
    I:intangibleLightId=2403
    I:peacefultableId=2409
    I:soundMufflerId=2410
    I:spikeId=2517
    I:tradingPost=2411
    I:transferNodeId=2413
    I:transferPipeId=2412
    I:trashCan=2516
}


####################
# item
####################

item {
    I:buildersWandId=10003
    I:creativeBuildersWandId=10004
    I:defoliageAxe=10008
    I:destructionPickaxe=10007
    I:divisionSigilId=10010
    I:erosionShovel=10006
    I:ethericSword=10005
    I:goldenBagId=10015
    I:goldenLassoId=10000
    I:healingAxe=10008
    I:paintBrush=10001
    I:sonarGogglesId=10012
    I:temporalHoe=10009
    I:unstableIngotId=10002
    I:upgradeNodeId=10014
    I:wateringCanId=10013
}


####################
# options
####################

options {
    B:unstableIngotsExplode=true
}


####################
# recipes
####################

recipes {
    B:disableAngelBlockRecipe=false
    B:disableBUDBlockRecipe=false
    B:disableBuildersWandRecipe=false
    B:disableChandelierRecipe=false
    B:disableColoredBricksRecipe=false
    B:disableColoredWoodPlanksRecipe=false
    B:disableCompressedCobblestoneRecipe=false
    B:disableConveyorRecipe=false
    B:disableCurtainRecipe=false
    B:disableDestructionPickaxeRecipe=false
    B:disableDivisionSiginInChests=false
    B:disableErosionShovelRecipe=false
    B:disableEtherealGlassRecipe=false
    B:disableEthericSwordRecipe=false
    B:disableFilterRecipe=false
    B:disableGoldenBagRecipe=false
    B:disableGoldenLassoRecipe=false
    B:disableHealingAxeRecipe=false
    B:disableNodeUpgradeSpeedRecipe=false
    B:disableObsidianRecipe=false
    B:disablePaintbrushRecipe=false
    B:disablePeacefulTableRecipe=false
    B:disablePeacefulWitherRecipe=false
    B:disableRainMufflerRecipe=false
    B:disableReversingHoeRecipe=false
    B:disableSonarGogglesRecipe=false
    B:disableSortingPipeRecipe=false
    B:disableSoundMufflerRecipe=false
    B:disableSpikeRecipe=false
    B:disableTradingPostRecipe=false
    B:disableTransferNodeEnergyRecipe=false
    B:disableTransferNodeLiquidRecipe=false
    B:disableTransferNodeRecipe=false
    B:disableTransferPipeRecipe=false
    B:disableTrashCanRecipe=false
    B:disableUnstableIngotRecipe=false
    B:disableWateringCanRecipe=false
    B:maxCompressedCobblestoneLevel=false
}


