# Configuration file

####################
# clientonly
#===================
# These settings affect only the client that loads the mod.
####################

clientonly {
    # Enable hats in servers without the mod?
    I:enableInServersWithoutMod=1

    # What hat do you want to use on servers without the mod? Only when randomHat = 0
    S:favouriteHat=Top Hat

    # Do you want to apply a colourizer to your favourite hat?
    # If no, leave as #ffffff
    # (Google "hex color codes" if you don't understand)
    # Format: #<colour index> or 0x<colour index>
    # Eg: #ffffff or 0xffffff for white
    S:favouriteHatColourizer=#ffffff

    # What key code do you want to use to open the Hat Selection GUI?
    # Mouse binds are posible, starting from -100 and higher.
    # For info on Key codes, check here: http://www.minecraftwiki.net/wiki/Key_codes
    I:guiKeyBind=35

    # Should each player have a random hat?
    # 0 = No
    # 1 = Yes
    # 2 = Yes, but not the player!
    # Only when enableInServersWithoutMod = 1
    I:randomHat=1

    # Should your hat render in first person?
    I:renderInFirstPerson=0

    # Do other players have hats? Only when enableInServersWithoutMod = 1
    I:shouldOtherPlayersHaveHats=1
}


####################
# globaloptions
#===================
# These settings affect both servers and clients that loads the mod.
####################

globaloptions {
    # Enable receiving of model files from the server/client?
    I:allowReceivingOfHats=1

    # Enable sending of model files to the server/client?.
    I:allowSendingOfHats=1

    # Enable safe load?
    # Safe load forces the mod to reject Techne Model Files that have files other than xml and png files.
    I:safeLoad=1
}


####################
# serveroptions
#===================
# These settings affect only the server that loads the mod.
####################

serveroptions {
    # All players are given this hat by default, even in Quest Mode.
    # Leave blank for no hat.
    S:defaultHat=Top Hat

    # Player Hats Mode:
    # 1 = Free Mode, All players are free to choose what hat to wear.
    # 2 = NOT AVAILABLE YET! Quest Mode, hats are rewarded by achieving certain tasks. NOT AVAILABLE YET!
    # 3 = Command Giver Mode, what hat you wear is chosen by people who can use commands.
    I:playerHatsMode=1
}


