# enableNEI: BooleanOption
# blockClass: StringListOption
# tileEntityClass: StringListOption
# autoDetectCuttableBlocks: BooleanOption
# cuttableBlock: ItemAndMetaListOption

enableNEI: false

blockClass: buildcraft.transport.BlockGenericPipe
blockClass: thermalexpansion.transport.block.BlockConduit
blockClass: ic2.core.block.wiring.BlockCable
blockClass: appeng.common.AppEngMultiBlock

tileEntityClass: buildcraft.transport.TileGenericPipe
tileEntityClass: thermalexpansion.transport.tileentity.TileConduitEnergy
tileEntityClass: thermalexpansion.transport.tileentity.TileConduitLiquid
tileEntityClass: ic2.core.block.wiring.TileEntityCable
tileEntityClass: appeng.me.tile.TileCable
tileEntityClass: appeng.me.tile.TileDarkCable
tileEntityClass: appeng.me.tile.TileInputCable
tileEntityClass: appeng.me.tile.TileOutputCable
tileEntityClass: appeng.me.tile.TileLevelEmitter
tileEntityClass: appeng.me.tile.TileStorageBus
tileEntityClass: appeng.me.tile.TileColorlessCable

autoDetectCuttableBlocks: false

# TODO: change item ID 13526 -> 4744