# Configuration file

####################
# block
####################

block {
    I:chunkloader.id=960
}


####################
# chunkloader
####################

chunkloader {
    ####################
    # playerQuotaOverride
    ####################

    playerQuotaOverride {
    }

}


####################
# general
####################

general {
    B:autoAssign=false
    B:chunkloader.allowFuelPiping=false
    B:chunkloader.bypassForgeChunkLimits=true
    B:chunkloader.enableCrafting=true

    # comma-separated list of id:meta=number-of-ticks or id=number-of-ticks
    S:chunkloader.fuels=87=80,1=60,263:0=12000,348=2400,4=20,331=1200,112=200,3=20,263:1=1200,368=18000,378=18000,381=36000
    B:chunkloader.hideOtherPlayersLoadersInF9=true
    I:chunkloader.perplayer.maxChunksPerPlayer=9

    # Type of quota management to use for chunk loaders. Allowed values: perplayer, unlimited
    S:chunkloader.quotaType=perplayer
    B:chunkloader.useFuel=false
}


####################
# logging
####################

logging {
    # Name of a file to keep updated with a list of all active chunk loaders. Blank for none.
    S:chunkloader.listFileName=

    # Name of a file to log creation, deletion and editing of chunk loaders to. Blank for none.
    S:chunkloader.logFileName=dimensional-anchors.log
}



######################################################################
# TODO: Merge from immibis-microblocks-54.0.2.jar
######################################################################
# Configuration file

####################
# block
####################

block {
    I:blockMultipart.id=1439
}


####################
# general
####################

general {
    B:autoAssign=false
}


####################
# item
####################

item {
    I:itemSaw=13782
}



# TODO: change item ID 13526 -> 4744
######################################################################
# TODO: Merge from immibis-peripherals-54.0.0.jar
######################################################################
# Configuration file

####################
# block
####################

block {
    I:peripherals.block.id=3414
    I:peripherals.lan-wire.id=464
}


####################
# general
####################

general {
    B:autoAssign=false

    # 
    S:peripherals.adminPassword=
    B:peripherals.enableAdventureMapInterface=false
    B:peripherals.enableCraftingAcceleratorComponents=true
    B:peripherals.enableCraftingCryptoAccelerator=true
    B:peripherals.enableCraftingLANModem=true
    B:peripherals.enableCraftingLANWire=true
    B:peripherals.enableCraftingMagCardDevice=true
    B:peripherals.enableCraftingMagCards=true
    B:peripherals.enableCraftingRFIDCards=true
    B:peripherals.enableCraftingRFIDReader=true
    B:peripherals.enableCraftingRFIDWriter=true
    B:peripherals.enableCraftingSpeaker=true
    B:peripherals.enableLAN=true
    B:peripherals.enableLANSenderSpoofing=true
}


####################
# item
####################

item {
    I:peripherals.component=28230
    I:peripherals.magstripe=10153
    I:peripherals.rfid=16230
}



######################################################################
# TODO: Merge from infinitubes-54.0.0.jar
######################################################################
# Configuration file

####################
# block
####################

block {
    I:infinitubes.infinitube.id=1623
    I:infinitubes.machine.id=3141
}


####################
# general
####################

general {
    B:autoAssign=false
    B:infinitubes.usePower=true
}



######################################################################
# TODO: Merge from liquid-xp-54.0.0.jar
######################################################################
# Configuration file

####################
# block
####################

block {
    I:liquidxp.machine.id=551
}


####################
# general
####################

general {
    B:autoAssign=false
    B:liquidxp.onlyEnchantBooks=true
}


####################
# item
####################

item {
    I:liquidxp.bucket=25116
    I:liquidxp.liquid=11318
    I:liquidxp.medallion=26791
}



# Changed block:     I:liquidxp.machine.id=4095 ->     I:liquidxp.machine.id=551
######################################################################
# TODO: Merge from tubestuff-54.0.0.jar
######################################################################
# Configuration file

####################
# block
####################

block {
    I:tubestuff.id=1808
    I:tubestuff.storage.id=1661
}


####################
# general
####################

general {
    B:autoAssign=false
    B:tubestuff.enableSlowDustFalling=false
    B:tubestuff.enableStorageBlocks=true
    B:tubestuff.enableStorageBlocks.useOreDictionary=true
    B:tubestuff.enableStorageBlocks.vanilla=true
}


####################
# item
####################

item {
    I:tubestuff.uselessItem=11307
}


