# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
# Sat Sep 21 22:02:40 PDT 2013
allowDebugOutput=false
allowUpdateCheck=false
checksum=1wk
updateTimeoutMilliseconds=1500
