# Configuration file

####################
# biome
####################

biome {
    I:biome.id.Clearing=89
    I:biome.id.ClearingBorder=90
    I:biome.id.DarkForest=95
    I:biome.id.DeepMushrooms=92
    I:biome.id.EnchantedForest=96
    I:biome.id.FireSwamp=97
    I:biome.id.Glacier=88
    I:biome.id.Highlands=83
    I:biome.id.Lake=80
    I:biome.id.LakeBorder=91
    I:biome.id.MajorFeature=93
    I:biome.id.MinorFeature=94
    I:biome.id.Mushrooms=84
    I:biome.id.Snowfield=87
    I:biome.id.Stream=86
    I:biome.id.Swamp=85
    I:biome.id.TwilightForest=81
    I:biome.id.TwilightForestVariant=82
}


####################
# block
####################

block {
    I:BossSpawner=1500
    I:Cicada=1501
    I:Critter=1502
    I:FireJet=1503
    I:FireflyJar=1504
    I:Hedge=1505
    I:Leaves=1506
    I:Log=1507
    I:MagicLeaves=1510
    I:MagicLog=1511
    I:MagicLogSpecial=1520
    I:Mazestone=1508
    I:Moonworm=1509
    I:Nagastone=1512
    I:Plant=1513
    I:Portal=1514
    I:Roots=1515
    I:Sapling=1516
    I:Shield=1525
    I:TowerAntenna=1521
    I:TowerDevice=1522
    I:TowerTranslucent=1523
    I:TowerWood=1519
    I:Trophy=1524
    I:TrophyPedestal=1526
    I:UncraftingTable=1517
}


####################
# dimension
####################

dimension {
    # What ID number to assign to the Twilight Forest dimension.  Change if you are having conflicts with another mod.
    I:dimensionID=7
}


####################
# enchantment
####################

enchantment {
    I:enchantment.id.fieryaura=136
}


####################
# general
####################

general {
    # Allow portals only for admins (ops).  This severly reduces the range in which the mod usually scans for valid portal conditions, and it scans near ops only.
    B:AdminOnlyPortals=false

    # Allow portals to the Twilight Forest to be made outside of dimension 0.  May be considered an exploit.
    B:AllowPortalsInOtherDimensions=false

    # Disable Twilight Forest portal creation entirely.  Provided for server operators looking to restrict action to the dimension.
    B:DisablePortalCreation=false

    # Disable the uncrafting function of the uncrafting table.  Provided as an option when interaction with other mods produces exploitable recipes.
    B:DisableUncrafting=false

    # Make cicadas silent  for those having sound library problems, or otherwise finding them annoying
    B:SilentCicadas=false

    # If set, this will override the normal world seed when generating parts of the Twilight Forest Dimension.
    S:TwilightForestSeed=
}


####################
# item
####################

item {
    I:ArmorShards=27775
    I:BorerEssence=27772
    I:Carminite=27773
    I:CharmOfKeeping1=27000
    I:CharmOfKeeping2=27001
    I:CharmOfKeeping3=27002
    I:CharmOfLife1=27003
    I:CharmOfLife2=27004
    I:CrumbleHorn=27005
    I:EmptyMagicMap=27006
    I:EmptyMazeMap=27007
    I:EmptyOreMap=27008
    I:Experiment115=27774
    I:Feather=27009
    I:FieryBlood=27010
    I:FieryBoots=27011
    I:FieryHelm=27012
    I:FieryIngot=27013
    I:FieryLegs=27014
    I:FieryPick=27015
    I:FieryPlate=27016
    I:FierySword=27017
    I:HydraChops=27018
    I:HydraTrophy=27019
    I:IronwoodAxe=27020
    I:IronwoodBoots=27021
    I:IronwoodHelm=27022
    I:IronwoodHoe=27023
    I:IronwoodIngot=27024
    I:IronwoodLegs=27025
    I:IronwoodPick=27026
    I:IronwoodPlate=27720
    I:IronwoodRaw=27028
    I:IronwoodShovel=27029
    I:IronwoodSword=27030
    I:KnightMetal=27776
    I:KnightlyAxe=27784
    I:KnightlyBoots=27781
    I:KnightlyHelm=27778
    I:KnightlyLegs=27780
    I:KnightlyPick=27783
    I:KnightlyPlate=27779
    I:KnightlySword=27782
    I:LegsNaga=27031
    I:LiveRoot=27032
    I:MagicMap=27033
    I:MagicMapFocus=27034
    I:MazeMap=27035
    I:MazeMapFocus=27036
    I:MazeWafer=27037
    I:MazebreakerPick=27038
    I:MeefRaw=27039
    I:MeefSteak=27040
    I:MeefStroganoff=27041
    I:MinotaurAxe=27042
    I:MoonwormQueen=27043
    I:NagaScale=27044
    I:OreMagnet=27045
    I:OreMap=27046
    I:OreMeter=27047
    I:PeacockFan=27048
    I:PlateNaga=27049
    I:ScepterLifeDrain=27050
    I:ScepterTwilight=27051
    I:ScepterZombie=27052
    I:ShardCluster=27777
    I:SpawnEgg=27053
    I:SteeleafAxe=27054
    I:SteeleafBoots=27055
    I:SteeleafHelm=27056
    I:SteeleafHoe=27057
    I:SteeleafIngot=27058
    I:SteeleafLegs=27059
    I:SteeleafPick=27060
    I:SteeleafPlate=27061
    I:SteeleafShovel=27062
    I:SteeleafSword=27063
    I:Torchberries=27064
    I:TowerKey=27771
    I:TransformPowder=27065
    I:VenisonCooked=27066
    I:VenisonRaw=27067
    I:WandPacification=27068
}


