# Configuration file

####################
# block
####################

block {
    I:ID.BlockBuildcraft=2851
    I:ID.BlockCommon=2850
    I:ID.BlockFactorization=2855
    I:ID.BlockIndustrialCraft=2852
    I:ID.BlockSteam=2853
    I:ID.BlockUniversalElectricty=2854
}


####################
# general
####################

general {
    I:BridgeBufferSize=160000000
}


####################
# powerratios
#===================
# Not all power systems listed here are necessarily used; they may be provided so that
# the ratios are all stored in a single place and for possible future use.
####################

powerratios {
    ####################
    # buildcraft
    ####################

    buildcraft {
        I:BuildCraftInternalEnergyPerEachInput=4375
        I:BuildCraftInternalEnergyPerEachOutput=4375
    }

    ####################
    # industrialcraft
    ####################

    industrialcraft {
        I:IndustrialCraftInternalEnergyPerEachInput=1800
        I:IndustrialCraftInternalEnergyPerEachOutput=1800
    }

    ####################
    # steam
    ####################

    steam {
        I:SteamInternalEnergyPerEachInput=875
        I:SteamInternalEnergyPerEachOutput=875
    }

    ####################
    # universalelectricity
    ####################

    universalelectricity {
        I:UniversalElectricityInternalEnergyPerEachInput=10
        I:UniversalElectricityInternalEnergyPerEachOutput=10
    }

    ####################
    # factorization
    ####################

    factorization {
        I:FactorizationInternalEnergyPerEachInput=1458
        I:FactorizationInternalEnergyPerEachOutput=1458
    }

}


####################
# throttles
####################

throttles {
    # Packets/t
    I:IC2.Consumer.EV=1

    # Packets/t
    I:IC2.Consumer.HV=1

    # Packets/t
    I:IC2.Consumer.LV=1

    # Packets/t
    I:IC2.Consumer.MV=1

    # mB/t
    I:Steam.Consumer=1000

    # mB/t
    I:Steam.Producer=1000
}


