# Configuration file
# Generated on 1/6/13 12:49 PM

####################
# block ids
####################

"block ids" {
    I:"Arc Furnace"=523
    I:"Ingot Former"=524
    I:"Large Grinder"=522
    I:"Medium Grinder"=521
    I:"Small Grinder"=520
}


####################
# ingot former output
#===================
# Dont mess with these values unless you know what your doing.
####################

"ingot former output" {
    I:"Ingot output copper"=0
    I:"Ingot output copper Meta"=0
    I:"Ingot output lead"=0
    I:"Ingot output lead Meta"=0
    I:"Ingot output silver"=0
    I:"Ingot output silver Meta"=0
    I:"Ingot output tin"=0
    I:"Ingot output tin Meta"=0
}


####################
# item ids
####################

"item ids" {
    I:Buckets=7003
    I:Dust=7000
    I:Gravel=7002
    I:Liquid=7004
    I:Sand=7001
}


