# Configuration file
# Generated on 1/6/13 12:49 PM

####################
# block
####################

block {
    # ID for the first block
    I:alpha=1229
}


####################
# features
####################

features {
    # Enable the Advanced Solar turtle upgrade
    B:enableAdvancedSolar=true

    # Enable the Bee Analyzer peripheral
    B:enableBeeAnalyzer=true

    # Enable the Charge Station block
    B:enableChargeStation=true

    # Enable the Chunk Loader turtle upgrade
    B:enableChunkLoader=true

    # Enable the Compass turtle upgrade
    B:enableCompass=true

    # Enable the Computer Controlled Crafter peripheral
    B:enableCrafter=true

    # Enable the Feeder turtle upgrade
    B:enableFeeder=true

    # Enable the Gate Reader peripheral and turtle upgrade
    B:enableGateReader=true

    # Enable the Hybrid Solar turtle upgrade
    B:enableHybridSolar=true

    # Enable the Interactive Sorter peripheral
    B:enableInteractiveSorter=true

    # Enable the Inventory turtle upgrade
    B:enableInventory=true

    # Enable the Laser turtle upgrade
    B:enableLaser=true

    # Enable the MFFS turtle upgrade
    B:enableMFFSTool=true

    # Enable the Iron Note Block peripheral and turtle upgrade
    B:enableNote=true

    # Enable the Nuclear Information Reader peripheral
    B:enableNuclearReader=true

    # Enable the Tier 2 Nuclear Information Reader peripheral. Requires the Nuclear Information Reader to be enabled
    B:enableNuclearReaderT2=true

    # Enable the Player Detector peripheral
    B:enablePlayerDetector=true

    # Enable the REther turtle upgrade
    B:enableREther=true

    # Enable the RTG turtle upgrade
    B:enableRTG=true

    # Enable the Rail Reader peripheral
    B:enableRailReader=true

    # Enable the Resupply Station and Resupply turtle upgrade
    B:enableResupply=true

    # Enable the Shears turtle upgrade
    B:enableShears=true

    # Enable the Tank turtle upgrade
    B:enableSignReader=true

    # Enable the Solar turtle upgrade
    B:enableSolar=true

    # Enable the Turtle Teleporter
    B:enableTeleporter=true

    # Enable the Thaum Scanner turtle upgrade
    B:enableThaumScanner=true

    # Enable the Tree Analyzer peripheral
    B:enableTreeAnalyzer=true

    # Enable the Treetap turtle upgrade
    B:enableTreetap=true

    # Enable the Ultimate Hybrid Solar turtle upgrade
    B:enableUltimateHybridSolar=true

    # Enable the Wrench turtle upgrade
    B:enableWrench=true
}


####################
# general
####################

general {
    # Amount of EU per turtle fuel value. Coal gives 42 EU per fuel value, default assumes 32
    I:chargeStationEnergy=32

    # Radius of chunks the Chunk Loader peripheral will keep loaded. 0 for 1x1, 1 for 3x3, 2 for 5x5, etc. The maximum allowed by the default chunkloading settings is 5x5, edit config/forgeChunkLoading.cfg to change those.
    I:chunkLoaderRadius=0

    # Fuel penalty for using a Turtle Teleporter. For example, 1.0 is a 0% penalty, or 2.0 (default) is a 100% penalty
    D:teleporterPenalty=2.0
}


####################
# item
####################

item {
    # ID for the first item
    I:alpha=26454
}


