# Configuration file
# Generated on 1/4/13 11:11 PM

####################
# block
####################

block {
    I:BlockArcaneDoor=1600
    I:BlockArcaneFurnace=1601
    I:BlockCandle=1602
    I:BlockChestHungry=1603
    I:BlockCrucible=1604
    I:BlockCrystal=1619
    I:BlockCustomOre=200
    I:BlockCustomPlant=1605
    I:BlockFluxGoo=1606
    I:BlockHole=1607
    I:BlockInfusionWorkbench=1608
    I:BlockJar=1609
    I:BlockLifter=1617
    I:BlockMagicalLeaves=1610
    I:BlockMagicalLog=1611
    I:BlockMarker=1612
    I:BlockNitor=1618
    I:BlockSecure=1613
    I:BlockTable=1614
    I:BlockWooden=1615
    I:BlockWoodenDevice=1616
}


####################
# enchantments
#===================
# Custom enchantments
####################

enchantments {
}


####################
# entities
#===================
# Entity id's
####################

entities {
    I:firebat=212
    I:flyingcarpet=201
    I:followitem=208
    I:giantsmartzombie=210
    I:golemclay=202
    I:golemclayadv=213
    I:golemstone=204
    I:golemstoneadv=214
    I:golemstraw=209
    I:golemtallow=207
    I:golemwood=203
    I:smartzombie=205
    I:specialitem=200
    I:wisp=206
    I:wizardvillager=211
}


####################
# general
####################

general {
    # Enables a version of the Thauminomicon in creative mode that grants you all the research when you first use it.
    B:allow_cheat_sheet=false

    # Allow warded stone to be crafted and placed in the world.
    B:allow_warded_stone=true

    # Item aspects are hidden by default and pressing shift reveals them. Changing this setting to 'true' will reverse this behaviour and always display aspects unless shift is pressed.
    B:display_aspects=false

    # If set to true golems will attempt to play the chest opening animations and sounds whenever they interact with them.
    B:golem_chest_interact=false

    # This is a comma-delimited list of any block-id's the portable hole is not allowed to pass through.
    S:portablehole_blacklist=71
}


####################
# item
####################

item {
    I:BlockJarFilledItem=25035
    I:BootsTraveller=25031
    I:ItemArcaneDoor=25029
    I:ItemEssence=25005
    I:ItemFlyingCarpet=25014
    I:ItemGoggles=25016
    I:ItemGolemCore=25026
    I:ItemGolemDecoration=25036
    I:ItemGolemPlacer=25015
    I:ItemInkwell=25010
    I:ItemNugget=25030
    I:ItemNuggetBeef=25033
    I:ItemNuggetChicken=25032
    I:ItemNuggetPork=25034
    I:ItemPortableHole=25012
    I:ItemResearchNotes=25009
    I:ItemResource=25007
    I:ItemShard=25008
    I:ItemThaumometer=25013
    I:ItemThaumonomicon=25011
    I:ItemWispEssence=25006
    I:ThaumPick=25022
    I:Thaumaxe=25023
    I:Thaumboots=25020
    I:Thaumchest=25018
    I:Thaumhelm=25017
    I:Thaumhoe=25025
    I:Thaumlegs=25019
    I:Thaumshovel=25021
    I:Thaumsword=25024
    I:WandCastingAdept=25001
    I:WandCastingApprentice=25000
    I:WandCastingMage=25002
    I:WandExcavation=25028
    I:WandFire=25003
    I:WandLightning=25004
    I:WandTrade=25027
}


####################
# research
#===================
# Various research related things.
####################

research {
    # The base % chance of success for experimental research
    I:base_exp_chance=33

    # The base % chance of success for 'safe' research
    I:base_safe_chance=15

    # The base % chance of item loss for 'safe' research
    I:base_safe_loss=25

    # The base % chance of success for 'thorough' research
    I:base_thorough_chance=55

    # The base % chance of item loss for 'thorough' research
    I:base_thorough_loss=75
}


####################
# world_regeneration
#===================
# If a chunk is encountered that skipped TC worldgen, then the game will attempt to regenerate certain world features if they are set to true. CAUTION: Best used for worlds created before you added this mod, and only if you know what you are doing. Backups are advised.
####################

world_regeneration {
    B:amber_ore=false
    B:aura_nodes=false
    B:cinnibar_ore=false
    B:infused_stone=false

    # This key is used to keep track of which chunk have been generated/regenerated. Changing it will cause the regeneration code to run again, so only change it if you want it to happen. Useful to regen only one world feature at a time.
    S:regen_key=DEFAULT
    B:structures=false
    B:trees=false
}


