# Configuration file

####################
# disabledrecipes
####################

disabledrecipes {
    B:massfabricator=true
}


####################
# extractor
####################

extractor {
    B:item.GT_Cells.0=true
    B:item.GT_Cells.1=true
    B:item.GT_Cells.10=true
    B:item.GT_Cells.11=true
    B:item.GT_Cells.12=true
    B:item.GT_Cells.13=true
    B:item.GT_Cells.131=true
    B:item.GT_Cells.14=true
    B:item.GT_Cells.15=true
    B:item.GT_Cells.16=true
    B:item.GT_Cells.17=true
    B:item.GT_Cells.18=true
    B:item.GT_Cells.19=true
    B:item.GT_Cells.2=true
    B:item.GT_Cells.20=true
    B:item.GT_Cells.22=true
    B:item.GT_Cells.23=true
    B:item.GT_Cells.24=true
    B:item.GT_Cells.3=true
    B:item.GT_Cells.32=true
    B:item.GT_Cells.33=true
    B:item.GT_Cells.34=true
    B:item.GT_Cells.35=true
    B:item.GT_Cells.36=true
    B:item.GT_Cells.37=true
    B:item.GT_Cells.38=true
    B:item.GT_Cells.39=true
    B:item.GT_Cells.4=true
    B:item.GT_Cells.40=true
    B:item.GT_Cells.5=true
    B:item.GT_Cells.6=true
    B:item.GT_Cells.7=true
    B:item.GT_Cells.8=true
    B:item.GT_Cells.9=true
}


####################
# liquidtransposer
####################

liquidtransposer {
    B:item.GT_Cells.10=true
    B:item.GT_Cells.11=true
    B:item.GT_Cells.12=true
    B:item.GT_Cells.13=true
    B:item.GT_Cells.14=true
    B:item.GT_Cells.16=true
    B:item.GT_Cells.22=true
    B:item.GT_Cells.32=true
    B:item.GT_Cells.33=true
    B:item.GT_Cells.34=true
    B:item.GT_Cells.35=true
    B:item.GT_Cells.4=true
    B:item.GT_Cells.5=true
    B:item.GT_Cells.7=true
}


####################
# scrapboxdrops
####################

scrapboxdrops {
    B:itemScrap=true
}


